[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/s3compat/ceph-s3-tests"]
	path = tests/s3compat/ceph-s3-tests
	url = https://github.com/ceph/s3-tests
